.main-nav {
  height: 56px;
  min-height: 56px;
  padding: 0 16px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}
.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-nav ul li{
  margin:0;
}
.main-nav h1 {
  margin: 5px 80px 0 0;
  padding: 0;
  width: 136px;
  float: left;
}
.main-nav .main-nav-button {
  line-height: 56px;
  height:56px;
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  padding: 0 16px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  border: none;
  background: none;
  border-radius: 0 !important;
  position: relative;
  margin: 0;
}

.l-left {
  float: left;
}